version: "3.9"

services:
  api:
    build: .
    container_name: butce_api
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000
    env_file:
      - .env
    environment:
      - DATABASE_URL=${DATABASE_URL:-postgresql+psycopg2://postgres:postgres@db:5432/butce_takip}
      - CORS_ORIGINS=http://localhost:5173,http://127.0.0.1:5173,http://172.24.2.128:5173
      - CORS_ORIGIN_REGEX=^http://172\\.24\\.2\\.\\d{1,3}:5173$
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy

  db:
    image: postgres:15-alpine
    container_name: butce_db
    environment:
      POSTGRES_DB: butce_takip
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5433:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  pgadmin:
    image: dpage/pgadmin4:8.5
    container_name: butce_pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@local
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "8080:80"
    depends_on:
      - db

  frontend:
    build: ./frontend
    container_name: butce_frontend
    environment:
      - VITE_API_BASE_URL=http://172.24.2.128:8000
    ports:
      - "5173:5173"
    depends_on:
      - api

volumes:
  db_data:
